:root {
  --layout-bg: rgb(192, 155, 116);
  --layout-text: rgb(197, 103, 40);
  --content-bg: rgb(170, 195, 236);
  --content-text: rgb(197, 103, 40);
  --action-bg: red;
  --action-text: white;
  --error-text: yellow;
}
html {
  font: 1em sans-serif;
}
.title-box {
  background-color: var(--layout-bg);
  color: var(--layout-text);
  margin: 0%;
  padding: 0%;
}

.menu {
  background-color: var(--layout-bg);
  color: var(--layout-text);
}
.menu-item {
  background-color: var(--content-bg);
  color: var(--content-text);
  padding: 5px 6px;
  text-align: center;
  display: inline-block;
  border-width: 3px 4px 3px 4px;
  margin: 3px 4px;
  font-size: 1em;
  width: 7em;
}
.menu-item.active-menu {
  background-color: var(--action-bg);
  color: var(--action-text);
  padding: 5px 6px;
  text-align: center;
  display: inline-block;
  border-width: 3px 4px 3px 4px;
  margin: 3px 4px;
  font-size: 1em;
  width: 7em;
}
.form-box {
  background-color: var(--content-bg);
  color: var(--content-text);
  width: 80%;
  border: 5px solid rgb(192, 155, 116);
  margin: 0%;
  padding: 0%;
}
.form-box button {
  background-color: red;
  color: white;
  padding: 5px 6px;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  width: 7em;
}
.form-box input {
  width: 30%;
  padding: 5px 6px;
}
.form-box .error-msg {
  margin: 0%;
  padding: 0%;
  border: 1px solid var(--error-text);
  background-color: var(--action-bg);
  color: var(--error-text);
}
.form-box .info-msg {
  color: var(--layout-text);
  margin: 0%;
  padding: 0%;
  border: 1px solid var(--content-text);
  background-color: var(--content-bg);
}
.att table td th {
  width: auto;
}
